<!DOCTYPE html>
<html lang="en">
<head>
  <title>Note App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
  <script src="app.js"></script>
</head>
<body  ng-app="NoteApp" ng-controller="NoteController">
  
<header>Header
<button ng-click="addNote()">Add Note</button>
<button id="delete" ng-show="notes.length > 0" ng-click="removeNote()" ng-cloak>Delete Note</button>
<button id="delete" ng-show="notes.length > 0" ng-click="editNote()" ng-cloak>Edit Note</button>
<button id="delete" ng-show="editmode" ng-click="saveNote()" ng-cloak>Save Note</button>
</header>
<div class="container">
    <div class="row">
        <div id="list" class="">
        	<table id="noteitems">
        		<tr ng-repeat="note in notes">
        			<td ng-form>
                <!--<p class="note" ng-model="note.title" ng-click="setCurrentNote($index)" ng-class="{'active-note': note._id == notes[curnoteindex]._id}" ng-hide="editmode && note._id == notes[curnoteindex]._id"></p>-->
                <!-- <input type="text" class="notetitleinp" ng-model="note.title" ng-show="editmode && note._id == notes[curnoteindex]._id"></input> -->
                <input type="text" class="notetitleinp" ng-click="setCurrentNote($index)" ng-readonly="!editmode" ng-model="note.title" ng-class="{'active-note': note._id == notes[curnoteindex]._id && !editmode, 'active-note-edit': note._id == notes[curnoteindex]._id && editmode}"></input>


              </td>
        		</tr>
        	</table>
        </div>
        <div id="contentdiv" class="col-md-9 no-float">
          <textarea id="notecontent" ng-readonly="!editmode" ng-model="notes[curnoteindex].content"></textarea>
        </div>
    </div>
</div>


</body>
</html>