html,body,.container {
    height:100%;
    font-family: 'Roboto', sans-serif;
}

header {
    background: green;
    height: 50px;
}


#list {
    width: 300px;
    margin: 0px;
    padding: 0px;
    max-width: 300px;
    min-width: 300px;
    display: table-cell;
    border: 2px solid red;
}


#noteitems {
    width: 100%;
    text-align: center;
}

.md-list-item {
    color: white;
}

.active-note {
    background: #cecece;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.note {
    cursor: pointer;
}

.lightblue {
    background-color: lightblue;
}

.lightgreen {
    background-color: lightgreen;
}


.notetitleinp {
    width: 100%;
    text-align: center;
    padding: 0px 0px 5px;
    margin: 0px;
    line-height: 16px;
   
    cursor: pointer;
}

.active-note-edit {
     background: oldlace;
     cursor: initial;
}

.ng-invalid {
    border-color: rgba(255, 0, 0, 0.42);
    background: rgba(255, 0, 0, 0.28);
}

md-toolbar {
    text-align: center;
}

md-sidenav {
    background: #1e88e5;
    overflow-x: hidden;
}

md-sidenav md-list {
    padding-bottom: 0px;
}

md-content {
    overflow-x: hidden;
}

#notecontent {
    width: 100%;
    border: none;
    resize: none;
    box-sizing: border-box;
    margin: 8px;
    outline: none;
}

md-list md-list-item.md-2-line .md-list-item-text h4 {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
}

md-list-item.md-2-line .md-list-item-text h4, md-list-item.md-2-line>.md-no-style .md-list-item-text h4 {
    font-size: 12px;
}

md-toolbar:not(.md-menu-toolbar) {

    background: rgb(47, 123, 45);

}

md-list-item {
    background: white;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 8px;
    border-radius: 3px;
}

.md-list-item-text input {
    border: none;
    background: none;
    display: block;
    cursor: pointer;
}

.edit-pointer {
    position: relative;
    z-index: 1;
    cursor: auto !important;
    outline: none;
    border-bottom: solid red 2px;
}

.ng-enter {
    transition: opacity 1.5s, margin-left 1s;
    margin-left: 130%;
    opacity: 0;
}

.ng-enter-active {
  margin-left: 5px;
  opacity: 1;
}

.ng-leave {
  transition: opacity 0.5s, margin-top 0.85s ease 0.38s;
  margin-top: 0px;
  opacity: 1;
}

.ng-leave-active {
    margin-top: -80px;
    opacity: 0;
}

#item-controls {
    display: flex;
}

#item-controls i {
    position: relative;
    z-index: 1;
    opacity: 0.3;
    outline: none;
}

#item-controls i:first-child {
    margin-right: 6px;
}

md-list-item:hover i {
    opacity: 1 !important;
}