<!DOCTYPE html>
<html lang="en">
<head>
  <title>Note App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/mainstyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="src/app.js"></script>
</head>
<body ng-app="NoteApp" ng-controller="NoteController" layout="column">
  
  <md-toolbar>
      <h3>Note App</h3>
  </md-toolbar>

  <div class="container" layout="row" flex>
    <md-sidenav class="md-whiteframe-2dp" md-is-locked-open="true" layout="column" layout-align="start stretch">
    <p id="getstarted" ng-show="notes.length == 0">Add a note to get started!</p>
    <md-list>
      <md-list-item class="md-2-line md-whiteframe-2dp" ng-click="setCurrentNote($index)" ng-class="{'active-note': note._id == notes[curnoteindex]._id && !editmode, 'active-note-edit': note._id == notes[curnoteindex]._id && editmode}" ng-repeat="note in notes">
        <div class="md-list-item-text">
          <input ng-model="note.title" ng-readonly="!editmode || note._id != notes[curnoteindex]._id" ng-model="note.title" ng-class="{'edit-pointer': editmode && note._id == notes[curnoteindex]._id}" placeholder="Untitled"></input>
          <h4 ng-model="note.content" ng-bind="note.content || 'This note is currently empty.'" md-truncate></h4>
        </div>
        <div id="item-controls">
        <i class="material-icons edit-note" ng-hide="editmode && curnoteindex == $index" ng-click="setCurrentNote($index); editNote($index)" title-focus>create</i>
        <i class="material-icons finish-edit" ng-show="editmode && curnoteindex == $index" ng-click="doneEditing()">done</i>
        <i class="material-icons delete-note" ng-click="removeNote($index)">clear</i>
      </div>
      </md-list-item>
    </md-list>
    <div id="addwrapper">
    <md-button class="md-fab" ng-click="addNote()" ng-show="notes.length > -1">
      <i class="material-icons">add</i>
    </md-button>
  </div>
    </md-sidenav>


  <md-content layout flex>
    <textarea id="notecontent" ng-readonly="!editmode" ng-model="notes[curnoteindex].content" placeholder="Insert content here..." ng-show="notes.length > 0"></textarea>
  </md-content>
  </div>

</body>
</html>